<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Software de Tareas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="logo">TaskPro Académico</div>
    <div class="menu">
        <a href="{{ url_for('inicio') }}">Inicio</a>
        {% if session.get("usuario") %}
            <a href="{{ url_for('listar_tareas') }}">Lista de tareas</a>
            <a href="{{ url_for('crear_tarea') }}">Crear tarea</a>
            <a href="{{ url_for('estadisticas') }}">Estadísticas</a>
            <a href="{{ url_for('logout') }}">Cerrar sesión</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </div>
</nav>

<div class="contenedor">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block contenido %}{% endblock %}
</div>

</body>
</html>
