{% extends "base.html" %}

{% block contenido %}

<div class="hero">
    <div class="logo-circulo">ST</div>

    <h1>Software de Gestión de Tareas Académicas</h1>

    <p>
        Sistema diseñado para organizar tareas por materia, fecha de entrega,
        estado y ahora con apoyo de <strong>{{ nombre_ia }}</strong>.
    </p>

    <div class="version-lista">
        <h3>🚀 Actualizaciones incluidas</h3>
        <ul>
            <li><b>Versión 4.03:</b> StudyNova IA, cookies, soporte y mejoras visuales</li>
            <li><b>Versión 3:</b> login, filtros, fecha, diseño visual y estadísticas</li>
            <li><b>Versión 2:</b> agregar tarea, completar tarea y eliminar</li>
            <li><b>Versión 1:</b> inicio, lista de tareas, crear tarea y editar</li>
        </ul>
    </div>

    <a class="btn" href="{{ url_for('listar_tareas') }}">Ver tareas</a>

    <div class="desarrollador">
        Desarrollado por {{ desarrollador }}
    </div>
</div>

{% endblock %}