{% extends "base.html" %}

{% block contenido %}
<div class="card">

  <h2>Restablecer contraseña</h2>

  <form method="POST">

    <label>Correo</label>
    <input type="email" name="email" required>

    <label>PIN recibido</label>
    <input type="text" name="pin" required>

    <label>Nueva contraseña</label>
    <input type="password" name="password" required>

    <button class="btn" type="submit">Cambiar contraseña</button>

  </form>

  <div class="opciones-login">
    <a href="{{ url_for('login') }}">Volver al login</a>
  </div>

</div>
{% endblock %}